

#first-container-part-background{
    background-color: aqua;
    color: whitesmoke;
}

.carousel-item{
    background-color:gainsboro;
}

.carousel-item img{
    width: 910px;
    height: 700px;
    color: #FFFFFF;
    padding: 50px 70px;
    
}